LBHTenancyAPI/Web References/ArrearsAgreementService/ArrearsAgreementService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.civica.co.uk/UHWeb/2013/03" elementFormDefault="qualified" targetNamespace="http://schemas.civica.co.uk/UHWeb/2013/03" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://lbhuhwwebp01/civica-uh-gateway-dev/webservices/ArrearsAgreementService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateArrearsAgreement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dto" nillable="true" type="tns:ArrearsAgreementRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrearsAgreementRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebRequest">
        <xs:sequence>
          <xs:element name="Agreement" nillable="true" type="tns:ArrearsAgreementInfo">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Arrears agreement record
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaymentSchedule" nillable="true" type="tns:ArrayOfArrearsScheduledPaymentInfo">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            A collection of payment schedule records
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArrearsAgreementRequest" nillable="true" type="tns:ArrearsAgreementRequest" />
  <xs:complexType name="WebRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            UH company code context under which the operation should run. If not specified the 
            company code set against user will be used instead
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DirectUser" nillable="true" type="tns:UserCredential">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            The system can be configured to require username and password details to be passed in
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MasterPassword" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            The system can be configured to require a master password
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SessionToken" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            The system can be configured to use session tokens
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SourceSystem" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Identifies the calling system, used in the audit log
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="UserId" type="xs:int">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Deprecated property - user id is determined from supplied credentials.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebRequest" nillable="true" type="tns:WebRequest" />
  <xs:complexType name="UserCredential">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            User name
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="UserPassword" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            User password
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserCredential" nillable="true" type="tns:UserCredential" />
  <xs:complexType name="ArrearsAgreementInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserFieldEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ArrearsAgreementStatusCode" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Agreement Start Date - blank for new agreements
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Comment field
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="FcaDate" nillable="true" type="xs:dateTime">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Fca Date field
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="FirstCheck" nillable="true" type="xs:int">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            First Check After - Value
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="FirstCheckFrequencyTypeCode" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            First Check After - Frequency Type Code
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="IsBreached" nillable="true" type="xs:boolean">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Optional flag to indicate if agreement breached.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="MonitorBalanceCode" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Type of balance to monitor
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="NextCheck" nillable="true" type="xs:int">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Subsequent Checks - Value
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="NextCheckFrequencyTypeCode" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Subsequent Checks - Frequency Type Code
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="NoPrePay" type="xs:int">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            No Prepay field
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Arrears Agreement Reference - optional for new agreements
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="StartBalance" nillable="true" type="xs:decimal">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Balance At Start
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Agreement Start Date
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TenancyAgreementRef" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Tenancy Agreement Reference
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Tolerance" nillable="true" type="xs:int">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Optional Tolerance
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArrearsAgreementInfo" nillable="true" type="tns:ArrearsAgreementInfo" />
  <xs:complexType name="UserFieldEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserFieldList" nillable="true" type="tns:ArrayOfUserField">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            List of user-defined fields
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserFieldEntity" nillable="true" type="tns:UserFieldEntity" />
  <xs:complexType name="ArrayOfUserField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserField" nillable="true" type="tns:UserField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserField" nillable="true" type="tns:ArrayOfUserField" />
  <xs:complexType name="UserField">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Fieldname for user field
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Field Value
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserField" nillable="true" type="tns:UserField" />
  <xs:complexType name="ArrayOfArrearsScheduledPaymentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrearsScheduledPaymentInfo" nillable="true" type="tns:ArrearsScheduledPaymentInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrearsScheduledPaymentInfo" nillable="true" type="tns:ArrayOfArrearsScheduledPaymentInfo" />
  <xs:complexType name="ArrearsScheduledPaymentInfo">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            Specifies a payment schedule for creating new agreement or updating an existing one.
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserFieldEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Agreed amount of repayment
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ArrearsFrequencyCode" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Frequency of payments lookup code
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Optional comments
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Optional payment end date
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Arrears payment schedule id - mandatory except for new agreements
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Payment start date
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArrearsScheduledPaymentInfo" nillable="true" type="tns:ArrearsScheduledPaymentInfo" />
  <xs:element name="CreateArrearsAgreementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateArrearsAgreementResult" nillable="true" type="tns:ArrearsAgreementResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrearsAgreementResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebResponse">
        <xs:sequence>
          <xs:element name="Agreement" nillable="true" type="tns:ArrearsAgreementDto">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Arrears agreement record
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArrearsAgreementResponse" nillable="true" type="tns:ArrearsAgreementResponse" />
  <xs:complexType name="WebResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Error code
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Error message
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Success" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            True if the operation succeeded
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebResponse" nillable="true" type="tns:WebResponse" />
  <xs:complexType name="ArrearsAgreementDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ArrearsAgreementInfo">
        <xs:sequence>
          <xs:element name="PaymentSchedule" nillable="true" type="tns:ArrayOfArrearsScheduledPaymentDto">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            A collection of payment schedule records
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArrearsAgreementDto" nillable="true" type="tns:ArrearsAgreementDto" />
  <xs:complexType name="ArrayOfArrearsScheduledPaymentDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrearsScheduledPaymentDto" nillable="true" type="tns:ArrearsScheduledPaymentDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrearsScheduledPaymentDto" nillable="true" type="tns:ArrayOfArrearsScheduledPaymentDto" />
  <xs:complexType name="ArrearsScheduledPaymentDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ArrearsScheduledPaymentInfo">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArrearsScheduledPaymentDto" nillable="true" type="tns:ArrearsScheduledPaymentDto" />
  <xs:element name="AddPaymentSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dto" nillable="true" type="tns:PaymentScheduleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PaymentScheduleRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebRequest">
        <xs:sequence>
          <xs:element name="ArrearsAgreementRef" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Arrears agreement reference
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaymentSchedule" nillable="true" type="tns:ArrayOfArrearsScheduledPaymentInfo">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            A collection of payment schedule records
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaymentScheduleRequest" nillable="true" type="tns:PaymentScheduleRequest" />
  <xs:element name="AddPaymentScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPaymentScheduleResult" nillable="true" type="tns:ArrearsAgreementResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateArrearsAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dto" nillable="true" type="tns:ArrearsActionCreateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrearsActionCreateRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebRequest">
        <xs:sequence>
          <xs:element name="ArrearsAction" nillable="true" type="tns:ArrearsActionInfo">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Arrears action to create
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArrearsActionCreateRequest" nillable="true" type="tns:ArrearsActionCreateRequest" />
  <xs:complexType name="ArrearsActionInfo">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionBalance" nillable="true" type="xs:decimal">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Balance when action is recorded
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ActionCategory" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            The action category to be used other wise it will be set to 8
            This data is used in confimataions
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ActionCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Arrears Action Code
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Details of any comments
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Confirmation" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            The field determine whether the addaition is a confirmation or not
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DeferredTo" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            The date that the action will be deferred to.  
            This data is used in confimataions.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="IsCommentOnly" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            True if this action is marked as comment only
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NewSetRequired" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Indicates if a new action set is required
            True will increment action set number and set the action number to 1. 
            False will increment the action number
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TenancyAgreementRef" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Tenancy agreement reference
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrearsActionInfo" nillable="true" type="tns:ArrearsActionInfo" />
  <xs:element name="CreateArrearsActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateArrearsActionResult" nillable="true" type="tns:ArrearsActionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrearsActionResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebResponse">
        <xs:sequence>
          <xs:element name="ArrearsAction" nillable="true" type="tns:ArrearsActionLogDto">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Details of arrears action
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArrearsActionResponse" nillable="true" type="tns:ArrearsActionResponse" />
  <xs:complexType name="ArrearsActionLogDto">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionBalance" type="xs:decimal">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Balance when action is recorded
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ActionCategory" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Action category
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ActionCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Arrears Action Code
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ActionDate" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Date of Action
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ActionNo" type="xs:int">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Action Number
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ActionSet" type="xs:int">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Action Set Number
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Confirmation" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Doing Confirmation
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DeferredTo" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Deffered to date
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Id" type="xs:int">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="IsCommentOnly" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            True if this action is marked as comment only
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TenancyAgreementRef" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Tenancy agreement reference
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            User recording action
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrearsActionLogDto" nillable="true" type="tns:ArrearsActionLogDto" />
  <xs:element name="DeletePaymentSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dto" nillable="true" type="tns:DeletePaymentScheduleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DeletePaymentScheduleRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebRequest">
        <xs:sequence>
          <xs:element name="ArrearsAgreementRef" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Arrears agreement reference
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="PaymentScheduleIds" nillable="true" type="q1:ArrayOfint">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            A collection of payment schedule identities to be deleted.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeletePaymentScheduleRequest" nillable="true" type="tns:DeletePaymentScheduleRequest" />
  <xs:element name="DeletePaymentScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePaymentScheduleResult" nillable="true" type="tns:ArrearsAgreementResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArrearsAgreement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dto" nillable="true" type="tns:ArrearsAgreementRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArrearsAgreementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateArrearsAgreementResult" nillable="true" type="tns:ArrearsAgreementResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTenancyAgreement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dto" nillable="true" type="tns:TenancyArrearsUpdateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TenancyArrearsUpdateRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebRequest">
        <xs:sequence>
          <xs:element name="ArrearsInfo" nillable="true" type="tns:TenancyArrearsInfo">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Arrears action to create
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TenancyArrearsUpdateRequest" nillable="true" type="tns:TenancyArrearsUpdateRequest" />
  <xs:complexType name="TenancyArrearsInfo">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserFieldEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CommitteeApproved" nillable="true" type="xs:boolean">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Has the case been committe approved
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="CourtDate" nillable="true" type="xs:dateTime">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Court appearance date
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="CourtSummonsIssued" nillable="true" type="xs:boolean">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Has a court summons been issued
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="EvictionDate" nillable="true" type="xs:dateTime">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Eviction date
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="EvictionGranted" nillable="true" type="xs:boolean">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Has eviction been granted
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="NOSPExpiryDate" nillable="true" type="xs:dateTime">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            NOSP expiry date
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="NOSPIssued" nillable="true" type="xs:boolean">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Has NOSP been issued
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="NTQExpiryDate" nillable="true" type="xs:dateTime">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Notoce to quit expiry date
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="NTQIssued" nillable="true" type="xs:boolean">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Has a notice to quit been issued
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="POIssued" nillable="true" type="xs:boolean">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Has a possession order been issued
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SuspendedPOIssued" nillable="true" type="xs:boolean">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Has a suspended possession order been issued
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TenancyAgreementRef" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Tenancy agreement reference
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TenancyArrearsInfo" nillable="true" type="tns:TenancyArrearsInfo" />
  <xs:element name="UpdateTenancyAgreementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTenancyAgreementResult" nillable="true" type="tns:WebResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArrearsAgreementByRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dto" nillable="true" type="tns:ByReferenceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ByReferenceRequest">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            Used by get methods where a single record should be returned by reference
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebRequest">
        <xs:sequence>
          <xs:element name="Reference" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Key object reference
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ByReferenceRequest" nillable="true" type="tns:ByReferenceRequest" />
  <xs:element name="GetArrearsAgreementByRefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetArrearsAgreementByRefResult" nillable="true" type="tns:ArrearsAgreementResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArrearsAgreementList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dto" nillable="true" type="tns:ArrearsAgreementSearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrearsAgreementSearchRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebRequest">
        <xs:sequence>
          <xs:element name="AgreementSearch" nillable="true" type="tns:ArrearsAgreementSearch">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            The arrears agreement search criteria
            None of the input fields are mandatory but at least one input field within the 
            search criteria must be entered. i.e. property reference, tenancy reference or 
            a date range etc.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArrearsAgreementSearchRequest" nillable="true" type="tns:ArrearsAgreementSearchRequest" />
  <xs:complexType name="ArrearsAgreementSearch">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            Defines criteria used to search arrears agreements
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="HouseholdRef" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Household reference
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MaxRecords" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            The maximum number of records that should be returned
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PropertyRef" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Property reference
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ShortAddress" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Property short Address
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TenancyAgreementRef" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Tenancy agreement reference
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TenancyStartDateFrom" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Tenancy agreement start date - Date range from 
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TenancyStartDateTo" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Tenancy agreement start date - Date range to
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TenancyTitle" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Title used for tenancy agreement
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrearsAgreementSearch" nillable="true" type="tns:ArrearsAgreementSearch" />
  <xs:element name="GetArrearsAgreementListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetArrearsAgreementListResult" nillable="true" type="tns:ArrearsAgreementListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrearsAgreementListResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebResponse">
        <xs:sequence>
          <xs:element name="AgreementList" nillable="true" type="tns:ArrayOfArrearsAgreementDto">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            A collection of arrears agreement records
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArrearsAgreementListResponse" nillable="true" type="tns:ArrearsAgreementListResponse" />
  <xs:complexType name="ArrayOfArrearsAgreementDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrearsAgreementDto" nillable="true" type="tns:ArrearsAgreementDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrearsAgreementDto" nillable="true" type="tns:ArrayOfArrearsAgreementDto" />
  <xs:element name="GetArrearsActionHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dto" nillable="true" type="tns:ArrearsActionSearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrearsActionSearchRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebRequest">
        <xs:sequence>
          <xs:element name="ActionSearch" nillable="true" type="tns:ArrearsActionSearch">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            The arrears action search criteria
            None of the input fields are mandatory but at least one input field within the 
            search criteria must be entered. i.e. tenancy reference or a date range etc.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArrearsActionSearchRequest" nillable="true" type="tns:ArrearsActionSearchRequest" />
  <xs:complexType name="ArrearsActionSearch">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            Defines criteria used to search arrears actions
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionBalance" nillable="true" type="xs:decimal">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Balance when action is recorded
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ActionCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Arrears Action Code
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ActionDateFrom" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Action Date Range - From Value
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ActionDateTo" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Action Date Range - To Value
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ActionSet" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Action Set Number
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Details of any comments
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CommentOnly" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            True if this action is marked as comment only
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="LatestActionSetOnly" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Set to true if action from latest set are required
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MaxRecords" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            The maximum number of records that should be returned.
            If ommited 100 is assumed.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SkipRecords" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            The number of records that should be ignored from the start of the sequence.
            If Omitted 0 is assumed.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SortAscending" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Result sequence defaults to descending Action Date sequence.  Set this true to reverse the order.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TenancyAgreementRef" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Tenancy agreement reference
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            User recording action
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrearsActionSearch" nillable="true" type="tns:ArrearsActionSearch" />
  <xs:element name="GetArrearsActionHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetArrearsActionHistoryResult" nillable="true" type="tns:ArrearsActionHistoryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrearsActionHistoryResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebResponse">
        <xs:sequence>
          <xs:element name="ArrearsHistory" nillable="true" type="tns:ArrearsActionHistoryDto">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Details of current arrears for specified tenancy with associated actions 
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArrearsActionHistoryResponse" nillable="true" type="tns:ArrearsActionHistoryResponse" />
  <xs:complexType name="ArrearsActionHistoryDto">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ArrearsActions" nillable="true" type="tns:ArrayOfArrearsActionLogDto">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            List of arrears actions
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CurrentBalance" type="xs:decimal">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Current Balance
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="HouseholdRef" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Household reference
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PropertyRef" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Property reference
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SuggestedAction" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Suggested Action
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SuggestedActionDate" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Suggested Action Date
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TenancyAgreementRef" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Tenancy agreement reference
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TenancyTitle" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Title used for tenancy agreement
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrearsActionHistoryDto" nillable="true" type="tns:ArrearsActionHistoryDto" />
  <xs:complexType name="ArrayOfArrearsActionLogDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrearsActionLogDto" nillable="true" type="tns:ArrearsActionLogDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrearsActionLogDto" nillable="true" type="tns:ArrayOfArrearsActionLogDto" />
</xs:schema>