LBHTenancyAPITest/Web References/ArrearsAgreementService/ArrearsAgreementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://schemas.civica.co.uk/UHWeb/2013/03" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ArrearsAgreementService" targetNamespace="http://schemas.civica.co.uk/UHWeb/2013/03" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.civica.co.uk/UHWeb/2013/03/Imports">
      <xsd:import schemaLocation="http://lbhuhwwebp01/civica-uh-gateway-dev/webservices/ArrearsAgreementService.svc?xsd=xsd0" namespace="http://schemas.civica.co.uk/UHWeb/2013/03" />
      <xsd:import schemaLocation="http://lbhuhwwebp01/civica-uh-gateway-dev/webservices/ArrearsAgreementService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://lbhuhwwebp01/civica-uh-gateway-dev/webservices/ArrearsAgreementService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IArrearsAgreementService_CreateArrearsAgreement_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateArrearsAgreement" />
  </wsdl:message>
  <wsdl:message name="IArrearsAgreementService_CreateArrearsAgreement_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateArrearsAgreementResponse" />
  </wsdl:message>
  <wsdl:message name="IArrearsAgreementService_AddPaymentSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPaymentSchedule" />
  </wsdl:message>
  <wsdl:message name="IArrearsAgreementService_AddPaymentSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPaymentScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IArrearsAgreementService_CreateArrearsAction_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateArrearsAction" />
  </wsdl:message>
  <wsdl:message name="IArrearsAgreementService_CreateArrearsAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateArrearsActionResponse" />
  </wsdl:message>
  <wsdl:message name="IArrearsAgreementService_DeletePaymentSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePaymentSchedule" />
  </wsdl:message>
  <wsdl:message name="IArrearsAgreementService_DeletePaymentSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePaymentScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IArrearsAgreementService_UpdateArrearsAgreement_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArrearsAgreement" />
  </wsdl:message>
  <wsdl:message name="IArrearsAgreementService_UpdateArrearsAgreement_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArrearsAgreementResponse" />
  </wsdl:message>
  <wsdl:message name="IArrearsAgreementService_UpdateTenancyAgreement_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTenancyAgreement" />
  </wsdl:message>
  <wsdl:message name="IArrearsAgreementService_UpdateTenancyAgreement_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTenancyAgreementResponse" />
  </wsdl:message>
  <wsdl:message name="IArrearsAgreementService_GetArrearsAgreementByRef_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArrearsAgreementByRef" />
  </wsdl:message>
  <wsdl:message name="IArrearsAgreementService_GetArrearsAgreementByRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArrearsAgreementByRefResponse" />
  </wsdl:message>
  <wsdl:message name="IArrearsAgreementService_GetArrearsAgreementList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArrearsAgreementList" />
  </wsdl:message>
  <wsdl:message name="IArrearsAgreementService_GetArrearsAgreementList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArrearsAgreementListResponse" />
  </wsdl:message>
  <wsdl:message name="IArrearsAgreementService_GetArrearsActionHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArrearsActionHistory" />
  </wsdl:message>
  <wsdl:message name="IArrearsAgreementService_GetArrearsActionHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArrearsActionHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IArrearsAgreementService">
    <wsdl:documentation>&lt;summary&gt;
            A service to provide integration with the UH Arrears Agreement module
            &lt;/summary&gt;</wsdl:documentation>
    <wsdl:operation name="CreateArrearsAgreement">
      <wsdl:documentation>&lt;summary&gt;
            This method provides the ability to create an arrears agreement in UHT. 
            &lt;/summary&gt;
            &lt;param name="dto"&gt;Details of the new arrears agreement&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/CreateArrearsAgreement" message="tns:IArrearsAgreementService_CreateArrearsAgreement_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/CreateArrearsAgreementResponse" message="tns:IArrearsAgreementService_CreateArrearsAgreement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPaymentSchedule">
      <wsdl:documentation>&lt;summary&gt;
            This method provides the ability to add new repayment schedule to an existing 
            arrears agreement in UHT based on the Arrears Agreement Reference passed in. 
            &lt;/summary&gt;
            &lt;param name="dto"&gt;Details of the new repayment.&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/AddPaymentSchedule" message="tns:IArrearsAgreementService_AddPaymentSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/AddPaymentScheduleResponse" message="tns:IArrearsAgreementService_AddPaymentSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateArrearsAction">
      <wsdl:documentation>&lt;summary&gt;
            This method will be used to create an arrears action for a specific tenancy agreement within UHT. 
            The arrears action will appear on the Arrears Actions form.
            &lt;/summary&gt;
            &lt;param name="dto"&gt;Details of the new arrears action to add&lt;/param&gt;
            &lt;returns&gt;Success&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/CreateArrearsAction" message="tns:IArrearsAgreementService_CreateArrearsAction_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/CreateArrearsActionResponse" message="tns:IArrearsAgreementService_CreateArrearsAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePaymentSchedule">
      <wsdl:documentation>&lt;summary&gt;
            This method provides the ability to delete agreed scheduled payments from an existing arrears agreement 
            in UHT based on the ID passed in.  Note: it will not delete the actual arrears agreement 
            header record.  The idea is that the end user will retrieve their arrears agreement records 
            and highlight which repayment profile they wish to delete if more than one exists. 
            &lt;/summary&gt;
            &lt;param name="dto"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/DeletePaymentSchedule" message="tns:IArrearsAgreementService_DeletePaymentSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/DeletePaymentScheduleResponse" message="tns:IArrearsAgreementService_DeletePaymentSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateArrearsAgreement">
      <wsdl:documentation>&lt;summary&gt;
            This method provides the ability to update an existing arrears agreement in UHT 
            based on the Arrears Agreement Reference passed in. As part of the update process it 
            will also allow existing repayment schedule to be updated. 
            &lt;/summary&gt;
            &lt;param name="dto"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/UpdateArrearsAgreement" message="tns:IArrearsAgreementService_UpdateArrearsAgreement_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/UpdateArrearsAgreementResponse" message="tns:IArrearsAgreementService_UpdateArrearsAgreement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTenancyAgreement">
      <wsdl:documentation>&lt;summary&gt;
            This method will be used to update a specific tenancy agreement record in relation to arrears 
            actions only, such as recording when a NOSP has been issued, a court date, whether a possession 
            order has been granted etc. This information is recorded on the Arrears Actions Form in UHT but 
            held on the tenancy agreement table. 
            &lt;/summary&gt;
            &lt;param name="dto"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/UpdateTenancyAgreement" message="tns:IArrearsAgreementService_UpdateTenancyAgreement_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/UpdateTenancyAgreementResponse" message="tns:IArrearsAgreementService_UpdateTenancyAgreement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArrearsAgreementByRef">
      <wsdl:documentation>&lt;summary&gt;
            This method will be used to retrieve a specific arrears agreement record based on the arrears 
            agreement reference.
            &lt;/summary&gt;
            &lt;param name="dto"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/GetArrearsAgreementByRef" message="tns:IArrearsAgreementService_GetArrearsAgreementByRef_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/GetArrearsAgreementByRefResponse" message="tns:IArrearsAgreementService_GetArrearsAgreementByRef_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArrearsAgreementList">
      <wsdl:documentation>&lt;summary&gt;
            This method will be used to retrieve a list of arrears agreement records. 
            It will be possible to retrieve this data by using a number of search criteria 
            &lt;/summary&gt;
            &lt;param name="dto"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/GetArrearsAgreementList" message="tns:IArrearsAgreementService_GetArrearsAgreementList_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/GetArrearsAgreementListResponse" message="tns:IArrearsAgreementService_GetArrearsAgreementList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArrearsActionHistory">
      <wsdl:documentation>&lt;summary&gt;
            This method will be used to retrieve a list of arrears actions for a specific tenancy agreement 
            based on the tenancy agreement reference. It will be possible to retrieve just a single action 
            or the entire action history based on search criteria entered. 
            &lt;/summary&gt;
            &lt;param name="dto"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/GetArrearsActionHistory" message="tns:IArrearsAgreementService_GetArrearsActionHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/GetArrearsActionHistoryResponse" message="tns:IArrearsAgreementService_GetArrearsActionHistory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IArrearsAgreementService" type="tns:IArrearsAgreementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateArrearsAgreement">
      <soap:operation soapAction="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/CreateArrearsAgreement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPaymentSchedule">
      <soap:operation soapAction="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/AddPaymentSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateArrearsAction">
      <soap:operation soapAction="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/CreateArrearsAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePaymentSchedule">
      <soap:operation soapAction="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/DeletePaymentSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateArrearsAgreement">
      <soap:operation soapAction="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/UpdateArrearsAgreement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTenancyAgreement">
      <soap:operation soapAction="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/UpdateTenancyAgreement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArrearsAgreementByRef">
      <soap:operation soapAction="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/GetArrearsAgreementByRef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArrearsAgreementList">
      <soap:operation soapAction="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/GetArrearsAgreementList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArrearsActionHistory">
      <soap:operation soapAction="http://schemas.civica.co.uk/UHWeb/2013/03/IArrearsAgreementService/GetArrearsActionHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArrearsAgreementService">
    <wsdl:port name="BasicHttpBinding_IArrearsAgreementService" binding="tns:BasicHttpBinding_IArrearsAgreementService">
      <soap:address location="http://lbhuhwwebp01/civica-uh-gateway-dev/webservices/ArrearsAgreementService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>